*,*::after,*::before{
    box-sizing:border-box;
}
body{
    background: #ccc;
}
#Wrapper{
    margin: 0 auto;
    width:960px;
    background:white;
    padding:2em;
    box-shadow: 3px 3px 3px rgba(0,0,0,.2)
}
form{
    display:inline;
}
ul,li{
    list-style:none;
}
.task{
    border-bottom:1px solid rgba(0,0,0,.1);
}
.task input[type="text"]{
    border:none;
}
.task input[type="checkbox"]{
   display:none;
}
.task label{
    display:inline-block;
    width:1em;
    height:1em;
    border:1px solid black;
}

.task input[type="checkbox"] ~ label:after{
    content:"";
}

.task input[type="checkbox"]:checked ~ label:after{
    content:"✔";
}

.task input[type="checkbox"]:checked ~ input[type="text"]{
    text-decoration:line-through;
}

.btn{

}
